/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Raleway', sans-serif;
}

nav{
	background: #E54E79; 
	width: 100%;
	height: 65px;
}

nav ul{
	margin: 0 200px 0 0;
	float: right;
	line-height: 65px;/* alto de linea basado en div principal*/
    display: inline-block;
}

nav ul li{
	display: inline-block;
	margin: 0 30px 0 0;
}

nav ul li a{
	text-decoration: none;
	color: #FFF;

}
nav img{
	margin: 10px 0 0 190px;
}

header{
	background: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg") fixed center center ;
	width: 100%;
	height: 650px;
}

.formulario{
	background: #EDE9E2;
	margin: 130px 0 0 0;
	width: 510px;
	height: 400px;
	float: right;
	padding: 50px 40px;
	box-sizing: border-box;/* restringe tamaño contenedor*/
    line-height: 30px;
}

.formulario h2{
	font-size:x-large;
	color: #00B2A9;
	margin: 0 0 15px 0;
	
}
.formulario input{
	background: none;
	border: 0;
	border-bottom: 1px solid black;
	padding: 10px 0;
	width: 100%;
}

.formulario button{
	font-size: 15px;
	color: white;
	margin: 18px 0 0 0;
	padding: 12px 20px;
	border-radius: 15px;
	background: #E56385;
}
.playLift{
	background: #00B2A9;
	width: 100%;
	height: 550px;
	position: relative;
}

.playLift h1{
	width: 100%;
	height: 80px;
	background: #EDE9E2;
	position: absolute;
	top: 75px;
	text-align: center;
	line-height: 75px;
	font-size: 40px;
	color: grey;

}
footer{
	background: grey;
	width: 100%;
	height: 240px;
}

